<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">
    
    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
        <span class="logo-lg" color="white" height = "70">
            <img src="assets/images/AM-Logo.jpg" alt="" height="75">
        </span>
        <span class="logo-sm">
            <img src="assets/images/AM-Logo.jpg" alt="" height="80">
        </span>
    </a>

    
    <div class="h-100" id="left-side-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="metismenu side-nav">

         <!--    <li class="side-nav-title side-nav-item">Navigation</li> -->
         <li class="side-nav-title side-nav-item"></li>

            <li class="side-nav-item">

                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-meter"></i>
                    <!-- <span class="badge badge-success float-right">4</span> -->
                    <span> Data </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="dashboard-analytics.html">Branch View</a>
                    </li>
                    <li>
                        <a href="dashboard-crm.html">Standard View</a>
                    </li>
                    <li>
                        <a href="index.html">Busway</a>
                    </li>
                    <li>
                        <a href="dashboard-projects.html">Waveforms</a>
                    </li>
                    <li>
                        <a href="dashboard-projects.html">Digital I/O</a>
                    </li>
                </ul>
            </li>

            <li class="side-nav-item">
                <a href="apps-calendar.html" class="side-nav-link">
                    <i class="dripicons-document-edit"></i>
                    <span> Configuration </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="apps-chat.html" class="side-nav-link">
                    <i class="dripicons-gear"></i>
                    <span> System </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="apps-chat.html" class="side-nav-link">
                    <i class="dripicons-question"></i>
                    <span> Help </span>
                </a>
            </li>

        </ul>

        
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->